{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("historyTable");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>

  <div class="container-fluid px-5 py-4" style="background-color: #F7F7F7">
    <div class="row">
      <div class="col">
        <h1 class="text-center display-4 mb-4" style="color: #0057A6; font-weight: bold;">Total Amount in USD: {{ totalAmount }}</h1>
        <h>Other currencies converted dynamically
          <a href="https://api.exchangerate-api.com/v4/latest/USD" target="_blank">exchangerate-api</a>
            </h>
      </div>
    </div>
<table class="table table-striped" id="historyTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)"  style="color: #0057A6;">Type</th>
                <th onclick="sortTable(1)"  style="color: #0057A6;">Sub Type</th>
                <th onclick="sortTable(2)"  style="color: #0057A6;">Amount</th>
                <th onclick="sortTable(3)"  style="color: #0057A6;">Currency</th>
                <th onclick="sortTable(4)"  style="color: #0057A6;">Date-Time</th>
            </tr>
        </thead>
        <tbody>
                {% for row in historyList %}
                    <tr>
                        <td>{{ row['type'] }}</td>
                        <td>{{ row['subType'] }}</td>
                        <td>{{ row['amount'] }}</td>
                        <td>{{ row['currency'] }}</td>
                        <td>{{ row['dateTime'] }}</td>
                    </tr>
                {% endfor %}
        </tbody>
</table>



{% endblock %}