<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/pulse/bootstrap.min.css">

    <!-- Boostrap jQuery and js libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link href=static/logo.png rel="icon">

    <title>Finance Tracker {% block title %}{% endblock %}</title>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary border">
    <a class="navbar-brand" href="/"> <span class="text-danger">Home</span></a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        {% if session.user_id %}
            <ul class="navbar-nav mr-auto mt-2">
              <li class="nav-item"><a class="nav-link" href="/income">Income</a></li>
              <li class="nav-item"><a class="nav-link" href="/expense">Expense</a></li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2" style="margin-left: auto;margin-right: 0;">
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}
    </div>
</nav>

{% if get_flashed_messages() %}
    <header>
        <div class="alert alert-primary border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
{% endif %}

<main class="container p-5">
    {% block main %}{% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
